.user-thumb {
  overflow: hidden;
  /* background: rgba(0, 0, 0, 0.6); */
  background: cross-fade(0,1);
  height: 70px;
}
.user-thumb > span {
  width: 80px;
  height: 60px;
  margin: 5px 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  transition: background .3s;
  background: transparent;
}
.user-thumb > span.active {
  background: rgba(255, 255, 255, 0.45);
}
.user-thumb > span i {
  display: block;
  width: 70px;
  height: 50px;
  margin: 5px;
  background-size: cover;
  background-position: center;
}
